img, a {
    user-select: none;
    -webkit-user-drag: none;
}

/* HEADER */
#btn-voltar{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin: 20px 0 0 30px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--branco);
    background-color: var(--rosa);
}

#btn-voltar:hover{
    transition: 0.4s;
    scale: 1.05;
    box-shadow: 1px 1px 3px var(--rosa);
    background-color: #e90055;
}

#btn-voltar > img{
    margin-left: -10px;
}



/* MAIN */
h1{
    font-size: 40px;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;
}

span.alerta, #span-TipoConta, #span-TipoONG{
    display: none;
    width: 99%;
    margin-left: 1px;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    color: #ff5c64;
    background-color: black;
}

span.prosseguir{
    display: none;
    font-weight: 500;
    margin-left: 1px;
    color: rgb(34, 255, 34);
}

span#max-carac{
    padding: 5px;
    background-color: black;
    color: rgb(255, 223, 97);
}

label{
    margin-left: 4px;
    font-size: 22px;
}

div.inputs{
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.caixa-input{
    padding: 9px 8px;
    font-size: 17px;
    border-radius: 5px;
    background-color: rgb(224, 211, 211);
}

input::placeholder{
    font-size: 14px;
    font-weight: 600;
}

.caixa-input:focus{
    border: 2px solid rgb(0, 166, 255);
}

/* Tipo */
select#select-tipo{
    font-size: 17px;
}

/* Formas de Pagamento */
p.subtitulo{
    font-size: 22px;
}

div#ipt-pagamento{
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(224, 211, 211);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.flex-container-pagamento{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}
/* Pix */
.flex-container-pagamento:first-child > label{
    width: 100%;
    margin-left: 8px;
    text-align: left;
}

.label-pagameto{
    font-weight: 800;
    color: var(--preto);
}

#ipt-pix{
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
}

#ipt-pix:focus, .ipt-cbancaria:focus{
    border: 2px solid rgb(0, 166, 255);
}
/* Linha Divisória */
#flex-container-linha{
    display: flex;
    align-items: center;
}

.linha-vertical{
    width: 3px;
    height: 9px;
    
    background-color: rgba(148, 147, 147, 0.7);
}

#linha-divisoria{
    width: 370px;
    height: 2px;
    background-color: rgba(148, 147, 147, 0.7);
}
/* Conta Bancária */
.flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alinhando-pagamentos{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.ipt-span-vertical{
    /* Colocando o span logo abaixo o input */
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.ipt-cbancaria{
    width: 175px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
}

select{
    color: #433f3f;
    font-weight: 600;
}

/* Select Região */
#select-regiao{
    width: 250px; /* ou width: 50% */
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 17px;
    background-color: rgb(224, 211, 211);
}

#select-regiao:focus{
    border: 2px solid rgb(0, 166, 255);
}

/* Input Descrição */
#ipt-descricao{
    width: 100%;
    padding: 7px 8px;
    resize: none;
    font-size: 17px;
    border-radius: 5px;
    background-color: rgb(224, 211, 211);
}

#ipt-descricao::placeholder{
    font-size: 14px;
    font-weight: 600;
}

#ipt-descricao:focus{
    border: 2px solid rgb(0, 166, 255);
}

/* Input Foto */
.area-menor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

div#caixa-file{
    display: flex;
    align-items: center;
    padding: 5px 8px;
    margin-top: 5px;
    
    border: 2px solid rgb(224, 211, 211);
    border-radius: 5px;
}

div#caixa-file > label{
    cursor: pointer;
}

input[type="file"]{
    display: none;
}

#icon-lupa{
    cursor: pointer;
    height: 20px;
    width: 30px;
}

div#escolher-img{
    width: 80%;
    height: 170px;
    border-radius: 4px;
    background-color: rgb(224, 211, 211);
}

#alerta-img{
    width: 80%;
}


/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 60px 0;
}

#btn-enviar{
    cursor: pointer;
    width: 400px;
    margin-top: 40px;
    padding: 10px 0;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    transition: .2s;
    border-radius: 3px;
    background-color: var(--ciano);
}

#btn-enviar:hover{
    color: var(--ciano);
    border: 1px solid #00F0FF;
    background-color: #00868F;
}