img, a {
    user-select: none;
    -webkit-user-drag: none;
}

/* HEADER */
#btn-voltar{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin: 20px 0 0 30px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--branco);
    background-color: var(--rosa);
}

#btn-voltar:hover{
    transition: 0.4s;
    scale: 1.03;
    background-color: #e90055;
}

#seta-voltar{
    width: 16px;
    height: 18px;
    margin-left: -10px;
}



/* MAIN */
h1{
    font-size: 40px;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;
}

span.alerta, #span-TipoConta, #span-FinalidadeONG, #span-regiao{
    display: none;
    margin-left: 1px;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: var(--amarelo)
}

label{
    margin-left: 4px;
    font-size: 22px;
}

div.inputs{
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.caixa-input{
    padding: 9px 8px;
    font-size: 17px;
    border-radius: 5px;
    background-color: rgb(224, 211, 211);
}

input::placeholder{
    font-size: 14px;
    font-weight: 600;
}

.caixa-input:focus{
    border: 2px solid rgb(0, 166, 255);
}

/* Tipo */
select#select-finalidade{
    font-size: 17px;
}

/* Formas de Pagamento */
p.subtitulo{
    font-size: 22px;
    margin-left: 4px;
}

div#ipt-pagamento{
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(224, 211, 211);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.flex-container-pagamento{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}
/* Pix */
.flex-container-pagamento:first-child > label{
    width: 100%;
    margin-left: 8px;
    text-align: left;
}

.label-pagameto{
    font-weight: 800;
    color: var(--preto);
}

#ipt-pix{
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
}

#ipt-pix:focus, .ipt-cbancaria:focus{
    border: 2px solid rgb(0, 166, 255);
}
/* Linha Divisória */
#flex-container-linha{
    display: flex;
    align-items: center;
}

.linha-vertical{
    width: 3px;
    height: 9px;
    
    background-color: rgba(148, 147, 147, 0.7);
}

#linha-divisoria{
    width: 370px;
    height: 2px;
    background-color: rgba(148, 147, 147, 0.7);
}
/* Conta Bancária */
.flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alinhando-pagamentos{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.ipt-span-vertical{
    /* Colocando o span logo abaixo o input */
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.ipt-cbancaria{
    width: 175px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
}

select{
    color: #433f3f;
    font-weight: 600;
}

/* Select Região */
#select-regiao{
    padding: 9px 8px;
    border-radius: 5px;
    font-size: 17px;
    background-color: rgb(224, 211, 211);
}

#select-regiao:focus{
    border: 2px solid rgb(0, 166, 255);
}

/* Input Descrição */
#ipt-descricao{
    padding: 7px 8px;
    resize: none;
    text-align: justify;
    font-size: 17px;
    border-radius: 5px;
    background-color: rgb(224, 211, 211);
}

#ipt-descricao::placeholder{
    font-size: 14px;
    font-weight: 600;
}

#ipt-descricao:focus{
    border: 2px solid rgb(0, 166, 255);
}

/* Input Foto */
.area-menor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

div#caixa-file{
    display: flex;
    align-items: center;
    padding: 5px 8px;
    margin-top: 5px;
    
    border: 2px solid rgb(224, 211, 211);
    border-radius: 5px;
}

div#caixa-file > label{
    cursor: pointer;
}

input[type="file"]{
    display: none;
}

#icon-lupa{
    cursor: pointer;
    height: 20px;
    width: 30px;
}

div#escolher-img{
    width: 80%;
    height: 170px;
    border-radius: 4px;
    background-color: rgb(224, 211, 211);
}

img#imagemPreview{
    width: 100%;
    height: 100%;
}

#alerta-img{
    width: 80%;
}


div#aviso{
    width: 320px;
    text-align: center;
    margin: auto;
}

div#aviso > p{
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.1px;
    line-height: 20px;
    color: var(--amarelo);
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 60px 0;
}

#btn-enviar{
    cursor: pointer;
    width: 400px;
    margin-top: 40px;
    padding: 10px 0;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    transition: .2s;
    border-radius: 3px;
    background-color: var(--ciano);
    margin: auto;
    margin-bottom: 60px;
}

#btn-enviar:hover{
    color: var(--ciano);
    border: 1px solid #00F0FF;
    background-color: #00868F;
}

section#acerto {
    position: fixed;
    bottom: 60px;
    right: 20px;
    display: flex;
}

section#acerto div#conteudo-acerto {
    background-color: var(--verde);
    padding: 16px 15px;
    border-radius: 8px;
    position: relative;
}

section#acerto div#conteudo-acerto img {
    position: absolute;
    right: -8px;
    top: -10px;
    background-color: var(--vermelho);
    border-radius: 50px;
    cursor: pointer;
    height: 23px;
}



/* MEDIA QUERY */
@media screen and (max-width: 390px) {
    /* HEADER */
    #btn-voltar{
        height: 30px;
        margin: 20px 0 0 10px;
    }
    
    
    
    /* MAIN */
    h1{
        font-size: 32px;
    }
    
    .flex-container {
        margin-top: 30px;
    }
    
    form{
        width: 85%;
    }
    
    label{
        font-size: 20px;
    }
    
    /* Tipo */
    select#select-finalidade{
        font-size: 15px;
    }
    
    input::placeholder{
        font-size: 12px;
    }
    
    /* Formas de Pagamento */
    p.subtitulo{
        font-size: 20px;
    }

    div#ipt-pagamento{
        gap: 20px;
    }

    /* Linha Divisória */
    #linha-divisoria{
        width: 230px;
    }

    /* Conta Bancária */
    .alinhando-pagamentos{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .ipt-cbancaria{
        width: 190px;
    }

    div#aviso{
        width: 280px;
        text-align: justify;
    }
    div#aviso > p{
        font-size: 11px;
    }
    
    
    /* FOOTER */
    #btn-enviar{
        width: 180px;
        padding: 5px 0;
    }
}
@media only screen and (min-width: 390px) and (max-width: 459px) {
    /* HEADER */
    #btn-voltar{
        height: 30px;
        margin: 20px 0 0 10px;
    }
    
    
    
    /* MAIN */
    h1{
        font-size: 35px;
    }
    
    .flex-container {
        margin-top: 30px;
    }
    
    form{
        width: 365px;
    }
    
    label{
        font-size: 22px;
    }
    
    /* Tipo */
    select#select-finalidade{
        font-size: 15px;
    }
    
    /* Formas de Pagamento */
    p.subtitulo{
        font-size: 22px;
    }

    div#ipt-pagamento{
        gap: 20px;
    }

    /* Pix */
    .flex-container-pagamento:first-child > label{
        width: 100%;
        margin-left: 8px;
        text-align: left;
    }

    .label-pagameto{
        font-weight: 800;
        color: var(--preto);
    }

    /* Linha Divisória */
    #linha-divisoria{
        width: 300px;
    }

    /* Conta Bancária */
    .ipt-cbancaria{
        width: 155px;
    }
    
    
    /* FOOTER */
    #btn-enviar{
        width: 280px;
    }
}
@media only screen and (min-width: 459px) and (max-width: 599px) {
    /* HEADER */
    #btn-voltar{
        height: 30px;
        margin: 20px 0 0 10px;
    }
    
    
    
    /* MAIN */
    h1{
        font-size: 35px;
    }
    
    .flex-container {
        margin-top: 30px;
    }
    
    form{
        width: 425px;
    }
    
    label{
        font-size: 22px;
    }
    
    .caixa-input{
        font-size: 15px;
    }
    
    input::placeholder{
        font-size: 12px;
    }
    
    /* Tipo */
    select#select-finalidade{
        font-size: 15px;
    }
    
    /* Formas de Pagamento */
    p.subtitulo{
        font-size: 22px;
    }
    
    
    /* FOOTER */
    #btn-enviar{
        width: 280px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 767px) {}
@media only screen and (min-width: 767px) and (max-width: 992px) {}