header#cabecalho {
    margin-top: 20px;
    padding: 0 20px;
    font-weight: bold;
    z-index: 10000;
    position: relative;
}


header#cabecalho section#caixa-voltar {
    position: absolute;
    background-color: var(--rosa);
    left: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

header#cabecalho section#caixa-voltar:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

header#cabecalho section#caixa-voltar img {
    width: 16px;
}

div#titulo-cabecalho {
    margin-bottom: -10px;
}

div#titulo-cabecalho img {
    width: 55px;
}

main {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

section#sct-pagamento {
    flex-direction: column;
    width: 600px;
    margin: 40px auto;
}

div.titulo-forma {
    padding: 17px 0px 15px 0px;
}

div.titulo-forma img {
    width: 25px;
    margin-right: 4px;
}

div.inputs label {
    font-size: 18px;
    font-weight: 500;
    display: block;
}

div.inputs input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: 10px solid var(--branco);
    margin: 10px 0px;
}

button#copiar {
    width: 60px;
    height: 30px;
    border-radius: 5px;
}

div#transf-bank input {
    width: 560px;
    cursor: pointer;
}

div#transf-bank #conta-agencia {
    display: flex;
    justify-content: space-between;
}

div#transf-bank #conta-agencia input {
    width: 265px;
}

/* MEDIA QUERIES */

/*TELA DE IPHONE 5 E MENORES*/
@media screen and (max-width: 390px) {
    header#cabecalho {
        margin-top: 20px;
    }
    
    header#cabecalho section#caixa-voltar {
        margin-bottom: 40px;
    }
    
    header#cabecalho section#caixa-voltar img {
        width: 10px;
    }

    header#cabecalho section#caixa-voltar p {
        font-size: 12px;
    }

    div#titulo-cabecalho {
        margin: 60px 0 0 0;
        text-align: center;
    }

    div#titulo-cabecalho h1 {
        font-size: 18px;
        text-align: center;
        margin-top: 0;
    }

    div#titulo-cabecalho img {
        width: 30px;
        margin-top: 0;
    }
   
    section#sct-pagamento {
        width: 320px;
        margin: 17px auto;
    }
    
    div.titulo-forma {
        font-size: 12px;
    }
    
    div.titulo-forma img {
        width: 22px;
    }
    
    div.inputs label {
        font-size: 15px;
    }
    
    div.inputs input {
        width: 215px;
    }
    
    button#copiar {
        width: 45px;
        font-size: 12px;
    }
    
    div#transf-bank input {
        width: 265px;
    }
    
    div#transf-bank #conta-agencia input {
        width: 115px;
    }
}

/*Celulares muito pequenos*/
@media only screen and (min-width: 390px) and (max-width: 459px) {
    header#cabecalho {
        margin-top: 20px;
    }
    
    header#cabecalho section#caixa-voltar {
        margin-bottom: 40px;
    }
    
    header#cabecalho section#caixa-voltar img {
        width: 10px;
    }

    header#cabecalho section#caixa-voltar p {
        font-size: 14px;
    }

    div#titulo-cabecalho h1 {
        font-size: 22px;
        margin-top: 80px;
    }

    div#titulo-cabecalho img {
        width: 38px;
        margin-top: 80px;
    }
   
    section#sct-pagamento {
        width: 370px;
        margin: 17px auto;
    }
    
    div.titulo-forma {
        font-size: 12px;
    }
    
    div.titulo-forma img {
        width: 24px;
    }
    
    div.inputs label {
        font-size: 16px;
    }
    
    div.inputs input {
        width: 285px;
    }
    
    button#copiar {
        width: 50px;
    }
    
    div#transf-bank input {
        width: 335px;
    }
    
    div#transf-bank #conta-agencia input {
        width: 155px;
    }
}

/*Transição entre celulares muito pequenos e pequenos*/
@media only screen and (min-width: 459px) and (max-width: 599px) {
    header#cabecalho {
        margin-top: 20px;
    }
    
    header#cabecalho section#caixa-voltar {
        margin-bottom: 40px;
    }
    
    header#cabecalho section#caixa-voltar img {
        width: 14px;
    }

    header#cabecalho section#caixa-voltar p {
        font-size: 16px;
    }

    div#titulo-cabecalho h1 {
        font-size: 24px;
        margin-top: 80px;
    }

    div#titulo-cabecalho img {
        width: 38px;
        margin-top: 80px;
    }
   
    section#sct-pagamento {
        width: 420px;
        margin: 17px auto;
    }
    
    div.titulo-forma {
        font-size: 14px;
    }
    
    div.inputs input {
        width: 325px;
    }
    
    button#copiar {
        width: 50px;
    }
    
    div#transf-bank input {
        width: 375px;
    }
    
    div#transf-bank #conta-agencia input {
        width: 170px;
    }
}

/*Celulares pequenos*/
@media only screen and (min-width: 599px) and (max-width: 767px) {
    header#cabecalho {
        margin-top: 20px;
    }
    
    header#cabecalho section#caixa-voltar {
        margin-bottom: 40px;
    }
    
    header#cabecalho section#caixa-voltar img {
        width: 15px;
    }

    div#titulo-cabecalho h1 {
        font-size: 26px;
        margin-top: 80px;
    }

    div#titulo-cabecalho img {
        width: 42px;
        margin-top: 80px;
    }
   
    section#sct-pagamento {
        width: 500px;
        margin: 17px auto;
    }
    
    div.titulo-forma {
        font-size: 14px;
    }
    
    div.inputs input {
        width: 400px;
    }
    
    div#transf-bank input {
        width: 450px;
    }
    
    div#transf-bank #conta-agencia input {
        width: 205px;
    }

}

/*TABLETS*/
@media only screen and (min-width: 767px) and (max-width: 992px) {

}