h1 {
  font-size: 45px;
  text-align: center;
}

h2#nome-ong {
  text-align: center;
}

input {
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  display: block;
}

label {
  float: left;
}

p.error {
  font-weight: bolder;
  color: var(--amarelo);
  font-size: 0.9em;
  float: left;
}

#flex-colum{
  display: flex;
  justify-content: center;
}

#registro-form{
  width: 500px;
}

.inputs {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#btn-enviar {
  width: 200px;
  height: 45px;
  background-color: var(--ciano);
  color: var(--preto);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  align-self: flex-start; 
  margin: 30px auto 0;
  border-radius: 5px;
}

#btn-enviar:hover{
  transition: 0.3s;
  background-color: var(--ciano-escuro);
}

#btn-voltar {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  margin: 20px 0px 0px 30px;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  color: var(--branco);
  background-color: var(--rosa);
}

#seta-voltar{
  width: 16px;
  height: 18px;
  margin-left: -10px;
}

.div-itens {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

section#acerto {
  position: absolute;
  bottom: 60px;
  right: 20px;
}

section#acerto div#conteudo-acerto {
  background-color: var(--verde);
  padding: 16px 15px;
  border-radius: 8px;
  position: relative;
}

section#acerto div#conteudo-acerto img {
  position: absolute;
  right: -8px;
  top: -10px;
  background-color: var(--vermelho);
  border-radius: 50px;
  cursor: pointer;
  height: 23px;
}

@media screen and (max-width: 390px) {
  h1 {
    font-size: 25px;
  }
  
  #registro-form{
    width: 280px;
  }
  
  #btn-enviar {
    width: 120px;
    height: 35px;
  }
  
  #btn-voltar {
    width: 100px;
    height: 32px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 390px) and (max-width: 459px) {
  h1 {
    font-size: 30px;
  }
  
  #registro-form{
    width: 340px;
  }
  
  #btn-enviar {
    width: 150px;
    height: 42px;
  }
  
  #btn-voltar {
    width: 120px;
    height: 35px;
    font-size: 17px;
  }
  
  #seta-voltar{
    width: 16px;
    height: 18px;
  }
}

@media only screen and (min-width: 459px) and (max-width: 599px) {
  h1 {
    font-size: 35px;
  }
  
  #registro-form{
    width: 380px;
  }
  
  #btn-enviar {
    width: 180px;
    height: 42px;
  }
  
  #btn-voltar {
    width: 120px;
    height: 35px;
    font-size: 17px;
  }
  
  #seta-voltar{
    width: 16px;
    height: 18px;
  }
}