h1 {
  font-size: 45px;
  text-align: center;
}

input {
  width: 694px;
  height: 30px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  display: block;
}

label {
  float: left;
}

p.error {
  font-weight: bolder;
  color: var(--amarelo);
  font-size: 0.9em;
  float: left;
}

.inputs {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#btn-enviar {
  width: 233px;
  height: 50px;
  background-color: var(--ciano);
  color: var(--preto);
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
  align-self: center;
  margin: 0 auto;
}

#btn-voltar {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  margin: 20px 0px 0px 30px;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  color: var(--branco);
  background-color: var(--rosa);
}

.div-itens {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

@media screen and (max-width: 390px) {
  h1 {
    font-size: 25px;
  }

  input {
    width: 300px;
    height: 30px;
  }

  #btn-voltar {
    width: 140px;
    height: 40px;
    font-size: 20px;
  }

  #btn-enviar {
    width: 233px;
  }
}