header#cabecalho {
    margin-top: 40px;
    padding: 0 20px;
    font-weight: bold;
    z-index: 10000;
    position: relative;
}

header#cabecalho section#caixa-voltar {
    position: absolute;
    background-color: var(--rosa);
    left: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

header#cabecalho section#caixa-voltar:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

header#cabecalho section#caixa-voltar img {
    width: 16px;
}

main {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

section#sct-principal {
    margin: auto;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

section#sct-principal h1 {
    font-size: 60px;
    margin: 0px 0px 70px 0px;
}

div.inputs {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

div.inputs label {
    font-size: 18px;
}

div.inputs label img {
    width: 30px;
    padding: 3px;
    margin: 0px -3px -9px 0px;
}

div.inputs label img#cadeado-senha {
    width: 27px;
    margin: 0px -2px -5px 1px;
}

div.inputs input {
    background-color: var(--cinza);
    width: 400px;
    height: 40px;
    border-radius: 5px;
    /* border: 10px solid var(--cinza); */
    padding-left: 10px;
}

div.inputs input#email.erro {
    border: 2.3px solid var(--amarelo);
}

button#btn-entrar {
    display: inline-block;
    width: 400px; 
    height: 40px; 
    background-color: var(--ciano);
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 0px;
    text-align: center; 
    line-height: 40px; 
    text-decoration: none;
    color: var(--preto);
    cursor: pointer;
}

button#btn-entrar:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

div#caixa-erro {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
    padding: 10px 0;
    border: 2px solid var(--branco);
    border-radius: 8px;
    color: var(--branco);
    font-weight: 800;
    position: relative;
    width: 400px;
}

div#caixa-erro i {
    color: rgb(255, 0, 0);
}

div#caixa-botao-fechar {
    background-color: var(--branco);
    position: absolute;
    top: -9px;
    right: -9px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    padding: 2px 5px;
}

div#caixa-erro i#fechar {
    color: var(--preto);
}

span#email-invalido {
    display: none;
    margin-right: 71%;
    color: var(--laranja);
    font-weight: 500;
}

span#email-invalido.mostrar {
    display: block;
}

div#esqueceu-cadastro {
    justify-content: space-between;
}

div#esqueceu-cadastro a {
    color: var(--branco);
}

div#esqueceu-cadastro p {
    font-size: 16px;
}

div#esqueceu-cadastro p#esqueceu-senha {
    text-decoration: underline;
}


/* MEDIA QUERIES */

/*TELA DE IPHONE 5 E MENORES*/
@media screen and (max-width: 390px) {
    header#cabecalho section#caixa-voltar {
       font-size: 14px;
    }
    
    header#cabecalho section#caixa-voltar img {
        width: 12px;
    }

    section#sct-principal {
        width: 300px;
        height: 500px;
    }
    
    section#sct-principal h1 {
        font-size: 34px;
    }
    
    div.inputs label {
        font-size: 16px;
    }
    
    div.inputs label img {
        width: 28px;
        padding: 3px;
        margin: 0px -3px -8px 0px;
    }
    
    div.inputs label img#cadeado-senha {
        width: 24px;
        margin: 0px -2px -5px 1px;
    }
    
    div.inputs input {
        width: 280px;
        height: 40px;
    }

    button#btn-entrar {
        width: 280px;
        height: 40px;
        font-size: 0.9em;
    }

    div#caixa-erro {
        display: none;
        font-weight: 800;
        width: 280px;
        font-size: 14px;
    }
    
    span#email-invalido {
        width: 130px;
        margin-bottom: -5px;
        font-size: 14px;
    }
    
    div#esqueceu-cadastro p {
        font-size: 14px;
    }
    
}

/*Celulares muito pequenos*/
@media only screen and (min-width: 390px) and (max-width: 459px) {
    header#cabecalho section#caixa-voltar {
        font-size: 16px;
     }
     
     header#cabecalho section#caixa-voltar img {
         width: 14px;
     }
 
     section#sct-principal {
         width: 390px;
         height: 500px;
     }
     
     section#sct-principal h1 {
         font-size: 44px;
     }
     
     div.inputs label {
         font-size: 17px;
     }
     
     div.inputs label img {
         width: 29px;
         padding: 3px;
         margin: 0px -3px -8px 0px;
     }
     
     div.inputs label img#cadeado-senha {
         width: 25px;
         margin: 0px -2px -5px 1px;
     }
     
     div.inputs input {
         width: 340px;
         height: 40px;
     }
 
     button#btn-entrar {
         width: 340px; 
         height: 40px; 
         font-size: 1em;
     }
 
     div#caixa-erro {
         display: none;
         width: 340px;
         font-size: 14px;
     }
     
     span#email-invalido {
         width: 130px;
         margin-bottom: -5px;
         font-size: 16px;
     }
     
     div#esqueceu-cadastro p {
         font-size: 16px;
     }
     
}

/*Transição entre celulares muito pequenos e pequenos*/
@media only screen and (min-width: 459px) and (max-width: 599px) {
    header#cabecalho section#caixa-voltar {
        font-size: 16px;
     }
     
     header#cabecalho section#caixa-voltar img {
         width: 14px;
     }
 
     section#sct-principal {
         width: 400px;
         height: 500px;
     }
     
     section#sct-principal h1 {
         font-size: 50px;
     }
     
     div.inputs label {
         font-size: 18px;
     }
     
     div.inputs input {
         width: 380px;
         height: 40px;
     }
 
     button#btn-entrar {
         width: 380px; 
         height: 40px; 
         font-size: 1em;
    }
 
     div#caixa-erro {
         display: none;
         width: 380px;
         font-size: 14px;
     }
     
     span#email-invalido {
         width: 130px;
         margin-bottom: -5px;
         font-size: 16px;
     }
     
     div#esqueceu-cadastro p {
         font-size: 16px;
     }
}