@import url('../styles/config.css');

body {
    overflow: hidden;
}

header#cabecalho {
    padding: 0 20px;
    font-weight: bold;
    height: 9vh;
}

header#cabecalho section#caixa-voltar {
    position: absolute;
    background-color: var(--rosa);
    left: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

header#cabecalho section#caixa-voltar img {
    width: 16px;
}

header#cabecalho h1 {
    font-size: 40px;
    text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.273);
}

main {
    flex-direction: column;
    height: calc(100vh - 9vh);
}

main section#mensagem {
    flex-direction: column;
    position: relative;
}

main section#mensagem div#caixa-texto-principal {
    gap: 20px;
    max-width: 900px;
    width: 100%;
}

main section#mensagem div#caixa-texto-principal img {
    width: 150px;
}

main section#mensagem div#caixa-texto-principal p#texto-principal {
    color: var(--vermelho);
    font-weight: bold;
    font-size: 28px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.158);
}

main section#mensagem p#texto-complementar {
    position: absolute;
    right: 0;
    bottom: -30px;
    text-align: right;
    color: var(--branco);
    font-weight: 500;
    font-size: 20px;
    width: 245px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.112);
}



/* MEDIA QUERIES */

/*TELA DE IPHONE 5 E MENORES*/
@media screen and (max-width: 390px) {
    header#cabecalho {
        padding: 0 10px;
        justify-content: space-between;
    }

    header#cabecalho section#caixa-voltar {
        position: relative;
        left: auto;
        font-size: 12px;
        padding: 6px 6px;
        border-radius: 8px;
    }

    header#cabecalho section#caixa-voltar img {
        width: 12px;
    }

    header#cabecalho h1 {
        font-size: 20px;
    }

    main {
        padding: 0 15px;
    }

    main section#mensagem div#caixa-texto-principal {
        gap: 10px;
    }

    main section#mensagem div#caixa-texto-principal img {
        width: 70px;
    }

    main section#mensagem div#caixa-texto-principal p#texto-principal {
        font-size: 19px;
    }

    main section#mensagem p#texto-complementar {
        width: 130px;
        font-size: 13px;
        bottom: -55px;
    }

}

/*Celulares muito pequenos*/
@media only screen and (min-width: 390px) and (max-width: 459px) {
    header#cabecalho {
        padding: 0 20px;
        justify-content: space-between;
    }

    header#cabecalho section#caixa-voltar {
        position: relative;
        left: auto;
        font-size: 12px;
        padding: 6px 6px;
        border-radius: 8px;
    }

    header#cabecalho section#caixa-voltar img {
        width: 12px;
    }

    header#cabecalho h1 {
        font-size: 24px;
    }

    main {
        padding: 0 20px;
    }

    main section#mensagem div#caixa-texto-principal {
        gap: 10px;
    }

    main section#mensagem div#caixa-texto-principal img {
        width: 94px;
    }

    main section#mensagem div#caixa-texto-principal p#texto-principal {
        font-size: 23px;
    }

    main section#mensagem p#texto-complementar {
        width: 150px;
        font-size: 13px;
        bottom: -50px;
    }
}

/*Transição entre celulares muito pequenos e pequenos*/
@media only screen and (min-width: 459px) and (max-width: 599px) {
    header#cabecalho {
        padding: 0 20px;
        justify-content: space-between;
    }

    header#cabecalho section#caixa-voltar {
        position: relative;
        left: auto;
        font-size: 13px;
        padding: 6px 9px;
        border-radius: 8px;
    }

    header#cabecalho section#caixa-voltar img {
        width: 12px;
    }

    header#cabecalho h1 {
        font-size: 27px;
    }

    main {
        padding: 0 20px;
    }

    main section#mensagem div#caixa-texto-principal {
        gap: 15px;
    }

    main section#mensagem div#caixa-texto-principal img {
        width: 100px;
    }

    main section#mensagem div#caixa-texto-principal p#texto-principal {
        font-size: 28.5px;
    }

    main section#mensagem p#texto-complementar {
        width: 160px;
        font-size: 15px;
        bottom: -62px;
    }
}

/*Celulares pequenos*/
@media only screen and (min-width: 599px) and (max-width: 767px) {
    header#cabecalho {
        padding: 0 20px;
        justify-content: space-between;
    }

    header#cabecalho section#caixa-voltar {
        position: relative;
        left: auto;
        font-size: 14px;
        border-radius: 8px;
    }

    header#cabecalho section#caixa-voltar img {
        width: 14px;
    }

    header#cabecalho h1 {
        font-size: 31px;
    }

    main {
        padding: 0 20px;
    }

    main section#mensagem div#caixa-texto-principal img {
        width: 145px;
    }

    main section#mensagem div#caixa-texto-principal p#texto-principal {
        font-size: 34px;
    }

    main section#mensagem p#texto-complementar {
        width: 170px;
        bottom: -55px;
        font-size: 17px;
    }
}

/*TABLETS*/
@media only screen and (min-width: 767px) and (max-width: 992px) {
    header#cabecalho section#caixa-voltar {
        font-size: 15px;
        border-radius: 10px;
    }

    header#cabecalho section#caixa-voltar img {
        width: 15px;
    }

    main {
        padding: 0 20px;
    }

    main section#mensagem div#caixa-texto-principal img {
        width: 165px;
    }

    main section#mensagem div#caixa-texto-principal p#texto-principal {
        font-size: 30px;
    }

    main section#mensagem p#texto-complementar {
        bottom: -50px;
    }
}

/*Específica*/
@media only screen and (orientation: landscape) {
    header#cabecalho {
        padding: 40px 20px 40px 20px;
    }

    main {
        height: calc(100vh - (9vh + 80px));
    }
}