header#cabecalho {
    background-color: var(--preto);
}

nav#navbar {
    justify-content: space-around;
    padding: 13px;
}

nav#navbar img#logo-doa-pe {
    width: 50px;
}

ul#lista {
    gap: 25px;
}

ul#lista a {
    color: var(--branco);
}

ul#lista li:hover {
    transition: .3s ease-in-out;
    transform: scale(1.1);
}

ul#lista a:hover {
    color: var(--rosa);
}

ul#lista a#atual {
    color: var(--rosa);
    text-decoration: underline;
}

ul#lista li a#botao-cadastrar-ong {
    font-weight: bold;
    color: var(--preto);
    background-color: var(--ciano);
    border-radius: 8px;
    padding: 6px;
}

ul#lista li#botao-logout {
    background-color: var(--rosa);
    padding: 6px;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;
}

ul#lista li#botao-logout a {
    color: var(--preto);
    font-weight: bold;
}

ul#lista li#botao-logout img {
    width: 20px;
}

ul#lista li#botao-login {
    background-color: var(--ciano);
    padding: 6px;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;
}

ul#lista li#botao-login a {
    color: var(--preto);
    font-weight: bold;
}

ul#lista li#botao-login img {
    width: 20px;
}

ul#lista img#icone-menu {
    display: none;
}

div.menu-mobile {
    display: none;
    position: absolute;
    background-color: var(--azul-menu);
    width: 100%;
    top: 80px;
    padding: 20px 0 20px 0;
    font-weight: bold;
    z-index: 1000;
}

div.menu-mobile ul#lista {
    gap: 20px;
    flex-direction: column;
}

main {
    margin-top: 30px;
    flex-direction: column;
}

main img#foto-principal {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

main img#icone-pessoas {
    margin: 20px 0 10px 0;
    max-width: 90px;
    width: 100%;
}

main h1#titulo-quem-somos {
    color: var(--ciano);
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

main p#texto-quem-somos {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

section#container-cards-devs {
    width: 100%;
    margin-bottom: 30px;
}

div#segunda-fileira-cards {
    margin-top: 40px;
}

section#container-cards-devs div.flex-container {
    justify-content: space-around;
}

section#container-cards-devs div.flex-container div img.foto-dev {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

section#container-cards-devs div.flex-container div p.nome-dev {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    font-size: 18px;
}

section#container-cards-devs div.flex-container div.redes-sociais-dev {
    margin-top: 10px;
    justify-content: space-between;
}

section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container {
    gap: 10px;
}

section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container img {
    width: 34px;
    height: 35px;
}

section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container p {
    font-weight: bold;
}

section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container p.paragrafo-github {
    color: var(--preto);
}

section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container p.paragrafo-linkedin {
    color: var(--azul-linkedin);
}

/* MEDIA QUERIES */

/*TELA DE IPHONE 5 E MENORES*/
@media screen and (max-width: 390px) {

    nav#navbar {
        justify-content: space-between;
        padding: 13px 30px 13px 30px;
    }

    main {
        margin-top: 20px;
        padding: 0 10px 0 10px;
    }

    main img#foto-principal {
        max-width: 300px;
    }

    main img#icone-pessoas {
        max-width: 70px;
    }

    main p#texto-quem-somos {
        font-size: 15px;
        line-height: 2;
    }

    main h1#titulo-quem-somos {
        font-size: 35px;
    }

    section#container-cards-devs {
        margin-bottom: 20px;
    }

    section#container-cards-devs div.flex-container {
        gap: 40px;
        flex-direction: column;
    }

    section#container-cards-devs div.flex-container div img.foto-dev {
        width: 250px;
        height: 250px;
    }

    section#container-cards-devs div.flex-container div p.nome-dev {
        margin-top: 10px;
        font-size: 16px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev {
        flex-direction: row;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container {
        flex-direction: row;
        gap: 5px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container img {
        width: 25px;
        height: 25px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container p {
        font-size: 13px;
    }
}

/*Celulares muito pequenos*/
@media only screen and (min-width: 390px) and (max-width: 459px) {
    nav#navbar {
        justify-content: space-between;
        padding: 13px 30px 13px 30px;
    }

    main {
        margin-top: 20px;
        padding: 0 10px 0 10px;
    }

    main img#foto-principal {
        max-width: 350px;
    }

    main img#icone-pessoas {
        max-width: 70px;
    }

    main p#texto-quem-somos {
        font-size: 15px;
        line-height: 2;
    }

    main h1#titulo-quem-somos {
        font-size: 40px;
    }

    section#container-cards-devs {
        margin-bottom: 20px;
    }

    section#container-cards-devs div.flex-container {
        gap: 40px;
        flex-direction: column;
    }

    section#container-cards-devs div.flex-container div img.foto-dev {
        width: 250px;
        height: 250px;
    }

    section#container-cards-devs div.flex-container div p.nome-dev {
        margin-top: 10px;
        font-size: 16px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev {
        flex-direction: row;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container {
        flex-direction: row;
        gap: 5px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container img {
        width: 25px;
        height: 25px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container p {
        font-size: 13px;
    }
}

/*Transição entre celulares muito pequenos e pequenos*/
@media only screen and (min-width: 459px) and (max-width: 599px) {
    nav#navbar {
        justify-content: space-between;
        padding: 13px 30px 13px 30px;
    }

    main {
        margin-top: 20px;
        padding: 0 10px 0 10px;
    }

    main img#foto-principal {
        max-width: 400px;
    }

    main img#icone-pessoas {
        max-width: 75px;
    }

    main h1#titulo-quem-somos {
        font-size: 42px;
    }

    main p#texto-quem-somos {
        font-size: 15px;
        line-height: 2;
    }

    section#container-cards-devs {
        margin-bottom: 20px;
    }

    section#container-cards-devs div.flex-container {
        gap: 40px;
        flex-direction: column;
    }

    section#container-cards-devs div.flex-container div img.foto-dev {
        width: 270px;
        height: 270px;
    }

    section#container-cards-devs div.flex-container div p.nome-dev {
        margin-top: 10px;
        font-size: 16px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev {
        flex-direction: row;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container {
        flex-direction: row;
        gap: 5px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container img {
        width: 25px;
        height: 25px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container p {
        font-size: 13px;
    }
}

/*Celulares pequenos*/
@media only screen and (min-width: 599px) and (max-width: 767px) {
    nav#navbar {
        justify-content: space-between;
        padding: 13px 30px 13px 30px;
    }

    main {
        margin-top: 20px;
        padding: 0 20px 0 20px;
    }

    main img#foto-principal {
        max-width: 450px;
    }

    main img#icone-pessoas {
        max-width: 80px;
    }

    main h1#titulo-quem-somos {
        font-size: 44px;
    }

    main p#texto-quem-somos {
        font-size: 15px;
        line-height: 2;
    }

    section#container-cards-devs {
        margin-bottom: 20px;
    }

    section#container-cards-devs div.flex-container {
        gap: 40px;
        flex-direction: column;
    }

    section#container-cards-devs div.flex-container div img.foto-dev {
        width: 280px;
        height: 280px;
    }

    section#container-cards-devs div.flex-container div p.nome-dev {
        margin-top: 10px;
        font-size: 16px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev {
        flex-direction: row;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container {
        flex-direction: row;
        gap: 5px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container img {
        width: 25px;
        height: 25px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container p {
        font-size: 13px;
    }
}

/* Menu mobile */
@media only screen and (max-width: 767px) {
    header nav ul#lista li {
        display: none;
    }

    ul#lista img#icone-menu {
        cursor: pointer;
        display: block;
    }

    div.menu-mobile.open {
        display: block;
    }
}

/*TABLETS*/
@media only screen and (min-width: 767px) and (max-width: 992px) {
    nav#navbar {
        justify-content: space-between;
        padding: 13px 30px 13px 30px;
    }

    main {
        margin-top: 20px;
        padding: 0 20px 0 20px;
    }

    main img#foto-principal {
        max-width: 500px;
    }

    main img#icone-pessoas {
        max-width: 80px;
    }

    main h1#titulo-quem-somos {
        font-size: 46px;
    }

    main p#texto-quem-somos {
        font-size: 17px;
        line-height: 2;
    }

    section#container-cards-devs {
        margin-bottom: 20px;
    }

    section#container-cards-devs div.flex-container {
        gap: 40px;
        flex-direction: column;
    }

    section#container-cards-devs div.flex-container div img.foto-dev {
        width: 290px;
        height: 290px;
    }

    section#container-cards-devs div.flex-container div p.nome-dev {
        margin-top: 10px;
        font-size: 17px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev {
        flex-direction: row;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container {
        flex-direction: row;
        gap: 7px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container img {
        width: 30px;
        height: 30px;
    }

    section#container-cards-devs div.flex-container div.redes-sociais-dev div.flex-container p {
        font-size: 14px;
    }
}

/*ESPECÍFICA*/
@media only screen and (min-width: 993px) and (max-width: 1100px) {
    main {
        padding: 0 20px 0 20px;
    }

    main img#icone-pessoas {
        max-width: 80px;
    }

    main p#texto-quem-somos {
        font-size: 18px;
    }

    section#container-cards-devs div.flex-container div img.foto-dev {
        width: 280px;
        height: 280px;
    }
}