body{
    background-color: var(--roxo);
}

a{
    color: var(--branco);
}

header#cabecalho {
    padding: 35px 20px;
    font-weight: bold;
    background: var(--preto);
}

section#caixa-voltar a{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: var(--rosa);
    left: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

header#cabecalho section#caixa-voltar img {
    width: 16px;
}

header#cabecalho h1 {
    font-size: 30px;
    text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.273);
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;   
}

.content {
    display: flex;  
    max-height: 100%;
    width: 760px;
    justify-content: center;
    background-color: var(--roxo-validação);
    border-radius: 20px;
    padding: 10px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 600;
    margin: auto 10em;
}

.conteudo .titulo{
    font-size: 1.3em;
    font-weight: bolder;
    color: var(--branco);
    padding-bottom: 15px;
}

.formulario{
    width: 100%;
    height: 100%;
    text-align: center;
}

.conteudo .formulario input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    color: var(--branco);
    background-color: var(--branco);
}

.conteudo .formulario input:disabled{
    font-size: 1em;
}

.conteudo .formulario p{
    margin-bottom: 5px;
}

.conteudo p{
    font-size: 1em;
    color: var(--branco);
    margin-top: 20px;
}

.conteudo img{
    width: 100%;
    height: 200px;
    border-radius: 15px;  
}

.conteudo .botao{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.conteudo .botao .btn-recusar{
    width: 80px;
    height: 30px;
    background-color: var(--rosa);
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.conteudo .botao .btn-recusar  a {
    text-decoration: none;
    color: var(--branco);
}

.conteudo .botao .btn-aceitar{
    width: 80px;
    height: 30px;
    background-color: var(--ciano);
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.conteudo .botao .btn-aceitar  a {
    text-decoration: none;
    color: var(--preto);
}

/* Formas de Pagamento */
div#ipt-pagamento{
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.flex-container-pagamento{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}
/* Pix */
.flex-container-pagamento:first-child > label{
    width: 100%;
    margin-left: 8px;
    text-align: center;
}

.label-pagameto{
    font-weight: 800;
    color: var(--preto);
}

#ipt-pix{
    width: 100%;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--cinza);
}
/* Linha Divisória */
#flex-container-linha{
    display: flex;
    align-items: center;
}

.linha-vertical{
    width: 3px;
    height: 9px;
    background-color: var(--cinza);
}

#linha-divisoria{
    width: 370px;
    height: 2px;
    background-color: var(--cinza);
}

/* Conta Bancária */
.flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alinhando-pagamentos{
    display: flex;
    justify-content: space-around;
    gap: 4px;
}

.ipt-cbancaria{
    width: 100%;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--cinza) !important;
}

/* MEDIA QUERIES */

/*CONTEUDO*/
@media (max-width: 800px) {
    .conteudo{
        margin: 10px 8em;
    }
}

@media (max-width: 600px) {
    .conteudo{
        margin: 10px 2em;
    }
}

/*TELA DE IPHONE 5 E MENORES*/
@media screen and (max-width: 390px) {
    header#cabecalho {
        padding: 25px 10px;
        justify-content: space-between;
    }

    header#cabecalho section#caixa-voltar {
        font-size: 10px;
        padding: 6px 6px;
        border-radius: 8px;
    }

    header#cabecalho section#caixa-voltar img {
        width: 12px;
    }

    header#cabecalho h1 {
        font-size: 19px;
    }

    .content {
        display: flex;  
        max-height: 100%;
        width: 300px;
        justify-content: center;
        background-color: var(--roxo-validação);
        border-radius: 20px;
        padding: 10px;
    }

    #linha-divisoria{
        width: 220px;
    }

}

/*Celulares muito pequenos*/
@media only screen and (min-width: 390px) and (max-width: 459px) {
    header#cabecalho {
        padding: 25px 20px;
        justify-content: space-between;
    }

    header#cabecalho section#caixa-voltar {
        font-size: 12px;
        padding: 6px 6px;
        border-radius: 8px;
    }

    header#cabecalho section#caixa-voltar img {
        width: 12px;
    }

    header#cabecalho h1 {
        font-size: 24px;
    }

    .content {
        display: flex;  
        max-height: 100%;
        width: 350px;
        justify-content: center;
        background-color: var(--roxo-validação);
        border-radius: 20px;
        padding: 10px;
    }

    #linha-divisoria{
        width: 280px;
    }
}

/*Transição entre celulares muito pequenos e pequenos*/
@media only screen and (min-width: 459px) and (max-width: 599px) {
    header#cabecalho {
        padding: 25px 20px;
        justify-content: space-between;
    }

    header#cabecalho section#caixa-voltar {
        position: relative;
        left: auto;
        font-size: 13px;
        padding: 6px 9px;
        border-radius: 8px;
    }

    header#cabecalho section#caixa-voltar img {
        width: 12px;
    }

    header#cabecalho h1 {
        font-size: 27px;
    }

    .content {
        display: flex;  
        max-height: 100%;
        width: 450px;
        justify-content: center;
        background-color: var(--roxo-validação);
        border-radius: 20px;
        padding: 10px;
    }
}

/*Celulares pequenos*/
@media only screen and (min-width: 599px) and (max-width: 767px) {
    header#cabecalho {
        padding: 25px 20px;
        justify-content: space-between;
    }

    header#cabecalho section#caixa-voltar {
        position: relative;
        left: auto;
        font-size: 14px;
        border-radius: 8px;
    }

    header#cabecalho section#caixa-voltar img {
        width: 14px;
    }

    header#cabecalho h1 {
        font-size: 31px;
    }

    .content {
        display: flex;  
        max-height: 100%;
        width: 500px;
        justify-content: center;
        background-color: var(--roxo-validação);
        border-radius: 20px;
        padding: 10px;
    }
}

/*TABLETS*/
@media only screen and (min-width: 767px) and (max-width: 992px) {
    header#cabecalho section#caixa-voltar {
        font-size: 15px;
        border-radius: 10px;
    }

    header#cabecalho section#caixa-voltar img {
        width: 15px;
    }

    .content {
        display: flex;  
        max-height: 100%;
        width: 700px;
        justify-content: center;
        background-color: var(--roxo-validação);
        border-radius: 20px;
        padding: 10px;
    }
}
