@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
    font-family: var(--inter);
}

/* HEADER */
header {
    background-color: var(--preto);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > a > section.flex-container {
    cursor: pointer;
    width: 90px;
    height: 25px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--rosa);
}

header > a > section.flex-container:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

header > a > section.flex-container > img {
    width: 16px;
}

header > h1 {
    margin: auto;
    padding: 10px;
    padding-right: 110px;
    text-align: center;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    left: 35%;
}

main > section#flex-container > h2 {
    font-size: 2.5em;
    padding-bottom: 50px;
    padding-left: 20px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form > p{
    width: 570px;
}

form > label > input {
    width: 600px;
    height: 40px;
    border-radius: 2px;
    background-color: white;
    margin-top: 3px;
    margin-bottom: 30px;
}

div#botoes {
    margin-top: 35px;
    width: 600px;
    display: flex;
    justify-content: space-around;
}

div#botoes > a > button#aceitar {
    cursor: pointer;
    width: 120px;
    height: 45px;
    background-color: var(--ciano);
    padding: 10px;
    border-radius: 5px;
    color: var(--preto);
    font-weight: bold;
}

div#botoes > a > button#recusar {
    cursor: pointer;
    width: 120px;
    height: 45px;
    background-color: var(--rosa);
    padding: 10px;
    border-radius: 5px;
    color: var(--branco);
    font-weight: bold;
}

div#botoes > button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* MEDIA QUERIES */

/*TELA DE IPHONE 5 E MENORES*/
@media screen and (max-width: 390px) {   
    header > h1 {
        width: 400px;
        height: 40px;
        padding-right: 10px;
        font-size: 1.3em;
        text-align: right;

    }

    header > section.flex-container {
        width: 80px;
        height: 10px;
        font-size: 15px;
        padding: 15px;
        border-radius: 5px;
        font-weight: bold;
        background-color: var(--rosa);
    }

    header > section.flex-container > img {
        width: 12px;
    }

    main {
        width: 100vw;
        height: 65vh;
    }

    main > section#flex-container > h2 {
        font-size: 1.5em;
        margin-top: 100px;
        margin-bottom: -10px;
        margin-right: 15px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 40vh;
    }
    
    form > p{
        position: relative;
        width: 50px;
        right: 130px;
    }
    
    form > label > input {
        width: 340px;
        height: 40px;
        
    }

    div#botoes {
        width: 350px;
    }
}

/*Celulares muito pequenos*/
@media only screen and (min-width: 391px) and (max-width: 459px) {
    header > h1 {
        width: 400px;
        height: 40px;
        padding-right: 10px;
        font-size: 1.4em;
        text-align: right;
    }

    header > section.flex-container {
        width: 90px;
        height: 20px;
        font-size: 15px;
        padding: 17px;
        border-radius: 5px;
        font-weight: bold;
        background-color: var(--rosa);
    }

    header > section.flex-container > img {
        width: 12px;
    }

    main {
        width: 100vw;
        height: 65vh;
    }

    main > section#flex-container > h2 {
        font-size: 1.5em;
        margin-top: 100px;
        margin-bottom: -10px;
        margin-right: 15px;
        text-align: center;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 40vh;
    }
    
    form > p{
        position: relative;
        width: 50px;
        right: 140px;
    }
    
    form > label > input {
        width: 360px;
        height: 40px;
        
    }

    div#botoes {
        width: 350px;
    }
}

/*Transição entre celulares muito pequenos e pequenos*/
@media only screen and (min-width: 460px) and (max-width: 599px) {
    header > h1 {
        width: 400px;
        height: 40px;
        padding-right: 10px;
        font-size: 1.6em;
        text-align: right;
    }

    header > section.flex-container {
        width: 95px;
        height: 25px;
        font-size: 17px;
        padding: 19px;
        border-radius: 5px;
        font-weight: bold;
        background-color: var(--rosa);
    }

    header > section.flex-container > img {
        width: 12px;
    }

    main {
        width: 100vw;
        height: 65vh;
    }

    main > section#flex-container > h2 {
        font-size: 1.8em;
        margin-top: 100px;
        margin-bottom: 10px;
        margin-right: 15px;
        text-align: center;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 40vh;
    }
    
    form > p{
        position: relative;
        width: 50px;
        right: 140px;
    }
    
    form > label > input {
        width: 390px;
        height: 40px;
        
    }

    div#botoes {
        width: 350px;
    }
}

/*Celulares pequenos*/
@media only screen and (min-width: 600px) and (max-width: 767px) {
    header > h1 {
        width: 400px;
        height: 40px;
        padding-right: 5px;
        padding-bottom: 45px;
        font-size: 1.8em;
        text-align: right;
    }

    header > section.flex-container {
        width: 95px;
        height: 25px;
        font-size: 17px;
        padding: 19px;
        border-radius: 5px;
        font-weight: bold;
        background-color: var(--rosa);
    }

    header > section.flex-container > img {
        width: 12px;
    }

    main {
        width: 100vw;
        height: 65vh;
    }

    main > section#flex-container > h2 {
        font-size: 2em;
        margin-top: 100px;
        margin-bottom: 10px;
        margin-right: 15px;
        text-align: center;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 40vh;
    }
    
    form > p{
        position: relative;
        width: 50px;
        right: 190px;
    }
    
    form > label > input {
        width: 500px;
        height: 40px;
        
    }

    div#botoes {
        width: 350px;
    }
}

/*TABLETS*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    header > h1 {
        width: 400px;
        height: 40px;
        padding-right: 5px;
        padding-bottom: 45px;
        font-size: 1.8em;
        text-align: right;
    }

    header > section.flex-container {
        width: 95px;
        height: 25px;
        font-size: 17px;
        padding: 19px;
        border-radius: 5px;
        font-weight: bold;
        background-color: var(--rosa);
    }

    header > section.flex-container > img {
        width: 12px;
    }

    main {
        width: 100vw;
        height: 65vh;
    }

    main > section#flex-container > h2 {
        font-size: 2em;
        margin-top: 100px;
        margin-bottom: 10px;
        margin-right: 15px;
        text-align: center;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 40vh;
    }
    
    form > p{
        position: relative;
        width: 50px;
        right: 220px;
    }
    
    form > label > input {
        width: 540px;
        height: 40px;
    }

    div#botoes {
        width: 400px;
    }
}